
.header_main_div {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 5px;
}

.header_main_div .h1_div img {
  align-items: center;
  margin-top: 15px;
  margin-left: 150px;
}

.header_main_div .h1_div p{
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 22px;
  font-weight: 600;
  
}

.header_main_div .h2_div {
  background: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
}


.header_main_div .h2_div_part1{
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 50px;
}

.header_main_div .h2_div_part2 p{
  margin-left: 10px;
  margin-top: 10px;
}

.header_main_div .h2_div_part2 sup{
  font-weight: 700;
  font-size: 12px;
  padding: 10px;
}

.header_main_div .h3_div img {
  width: 50px;
  height:40px;
  margin-top: 5px;
}


.header_main_div .h4_div .header_btn  {
  align-items: center;
  margin-top: 10px;
  margin-right: 150px;
  width: 150px;
  height: 45px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
}

.header_main_div .h4_div .header_btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.header_main_div .cross_icon {
  margin-right: 50px;
  margin-top: 10px;
  width: 50px;
}

.h1_div, .h2_div, .h3_div, .h4_div, .h2_div div {
  display: flex;
  
}

.h1_div img {
  height: 20px;
}

.Video_div {
  position: relative;
}

.Video_side_bar {
  position:absolute;
  z-index: 2;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  width: 9%;
  height: 100%;

  
}

.menu_option {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 100px;
  
}

.logo_div {
  position: absolute;
  z-index: 2;
  margin-left: 45%;
  cursor: pointer;
}

.logo_div img {
  width: 150px;
}

.near_logo {
  position: absolute;
  right: 0px;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 5px;
  line-height: 3px;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 50px;
  width: 250px;
  cursor: pointer;

}

.near_logo .head_p {
  font-weight: 50px;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 5px;
 
}

.near_logo .head_p2 {
  font-weight: 20px;
  font-size: 12px;
 
}

.logo_div .logo_line {
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* body1 part css  */

.body_parts {
   margin-top: 20px;
   background-color: rgba(0, 0, 0, 0.8);
   color: whitesmoke;
    
}

.body_parts .body_part1 {
    font-size: 30px;
    margin: 0 0 5px;
    text-align: center;


}

.body_parts .body_part2 {
  font-size: 50px;
  margin: 20px 0 25px;
  text-align: center;
}











































